<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750567903683-n9j008g9a8u4okntosfhtlk1nd9o5ae5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750567903683-n9j008g9a8u4okntosfhtlk1nd9o5ae5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750567903683-74m1bhlvffo9k2ah673t1r6jf3068f9t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXwJ_F_ZJoELJX-33rydoK153f4D4Bl3s</string>
	<key>GCM_SENDER_ID</key>
	<string>750567903683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bring2book.app</string>
	<key>PROJECT_ID</key>
	<string>bring2book</string>
	<key>STORAGE_BUCKET</key>
	<string>bring2book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750567903683:ios:6833bece7646eed80d2d76</string>
	<key>DATABASE_URL</key>
	<string>https://bring2book.firebaseio.com</string>
</dict>
</plist>